<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <form class="form-inlin justify-content-center" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            name="text"
            [(ngModel)]="text"
            placeholder="Add Todo.."
          />
          <!-- <input
            type="submit"
            value="Submit"
            class="btn btn-success btn-sm ml-2"
          /> -->
        </div>
      </form>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
